
@{
    ViewData["Title"] = ViewBag.Type;
}

<div class="container-fluid library-app">
    <div class="row">
        <div class="col-12">
            <div class="mb-3">
                <h1>@ViewBag.Type</h1>

                <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                    <ol class="breadcrumb pt-0">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Shared Components</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Data</li>
                    </ol>
                </nav>

            </div>


            <div class="separator mb-5"></div>
        </div>
    </div>
    <div class="row">

        <div class="col-12 col-xl-8 list disable-text-selection" data-check-all="checkAll">
            <div class="row">






                <div class="col-xxl-4 col-xl-6 col-12">
                    <div class="card d-flex flex-row mb-4 media-thumb-container">
                        <a class="d-flex align-self-center media-thumbnail-icon"
                           href="/Home/Index/LessonLearnedTypes">
                            <i class="iconsminds-folder-open"></i>
                        </a>
                        <div class="d-flex flex-grow-1 min-width-zero">
                            <div class="card-body align-self-center d-flex flex-column justify-content-between min-width-zero align-items-lg-center">
                                <a href="/Home/SharedComponents/LessonLearnedTypes" class="w-100">
                                    <p class="list-item-heading mb-1 truncate"></p>
                                </a>
                                <p class="mb-1 text-muted text-small w-100 truncate">14.11.2018</p>
                            </div>
                            <div class="pl-1 align-self-center">
                                <label class="custom-control custom-checkbox mb-0">
                                    <input id="LessonLearnedTypes" type="checkbox" class="custom-control-input">
                                    <span class="custom-control-label"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-4 col-xl-6 col-12">
                    <div class="card d-flex flex-row mb-4 media-thumb-container">
                        <a class="d-flex align-self-center media-thumbnail-icon"
                           href="/Home/SharedComponents/LessonLearnedClasss">
                            <i class="iconsminds-folder-open"></i>
                        </a>
                        <div class="d-flex flex-grow-1 min-width-zero">
                            <div class="card-body align-self-center d-flex flex-column justify-content-between min-width-zero align-items-lg-center">
                                <a href="/Home/SharedComponents/LessonLearnedClasss" class="w-100">
                                    <p class="list-item-heading mb-1 truncate">فئات الدروس المستفادة</p>
                                </a>
                                <p class="mb-1 text-muted text-small w-100 truncate">14.11.2018</p>
                            </div>
                            <div class="pl-1 align-self-center">
                                <label class="custom-control custom-checkbox mb-0">
                                    <input type="checkbox" id="LessonLearnedClasss" class="custom-control-input">
                                    <span class="custom-control-label"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-6 col-12">
                    <div class="card d-flex flex-row mb-4 media-thumb-container">
                        <a class="d-flex align-self-center media-thumbnail-icon"
                           href="/Home/SharedComponents/LessonLearnedEffectLevels">
                            <i class="iconsminds-folder-open"></i>
                        </a>
                        <div class="d-flex flex-grow-1 min-width-zero">
                            <div class="card-body align-self-center d-flex flex-column justify-content-between min-width-zero align-items-lg-center">
                                <a href="/Home/SharedComponents/LessonLearnedEffectLevels" class="w-100">
                                    <p class="list-item-heading mb-1 truncate">مستويات تأثير الدروس المستفادة</p>
                                </a>
                                <p class="mb-1 text-muted text-small w-100 truncate">14.11.2018</p>
                            </div>
                            <div class="pl-1 align-self-center">
                                <label class="custom-control custom-checkbox mb-0">
                                    <input type="checkbox" id="LessonLearnedEffectLevels" class="custom-control-input">
                                    <span class="custom-control-label"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-4 col-xl-6 col-12">
                    <div class="card d-flex flex-row mb-4 media-thumb-container">
                        <a class="d-flex align-self-center media-thumbnail-icon"
                           href="/Home/SharedComponents/LessonLearnedEffectTypes">
                            <i class="iconsminds-folder-open"></i>
                        </a>
                        <div class="d-flex flex-grow-1 min-width-zero">
                            <div class="card-body align-self-center d-flex flex-column justify-content-between min-width-zero align-items-lg-center">
                                <a href="/Home/SharedComponents/LessonLearnedEffectTypes" class="w-100">
                                    <p class="list-item-heading mb-1 truncate">انواع تأثيرات الدروس المستفادة</p>
                                </a>
                                <p class="mb-1 text-muted text-small w-100 truncate">14.11.2018</p>
                            </div>
                            <div class="pl-1 align-self-center">
                                <label class="custom-control custom-checkbox mb-0">
                                    <input type="checkbox" id="LessonLearnedEffectTypes" class="custom-control-input">
                                    <span class="custom-control-label"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-6 col-12">
                    <div class="card d-flex flex-row mb-4 media-thumb-container">
                        <a class="d-flex align-self-center media-thumbnail-icon"
                           href="/Home/SharedComponents/SuccessStoryTypes">
                            <i class="iconsminds-folder-open"></i>
                        </a>
                        <div class="d-flex flex-grow-1 min-width-zero">
                            <div class="card-body align-self-center d-flex flex-column justify-content-between min-width-zero align-items-lg-center">
                                <a href="/Home/SharedComponents/SuccessStoryTypes" class="w-100">
                                    <p class="list-item-heading mb-1 truncate">انواع قصص النجاح</p>
                                </a>
                                <p class="mb-1 text-muted text-small w-100 truncate">14.11.2018</p>
                            </div>
                            <div class="pl-1 align-self-center">
                                <label class="custom-control custom-checkbox mb-0">
                                    <input type="checkbox" id="SuccessStoryTypes" class="custom-control-input">
                                    <span class="custom-control-label"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-4 col-xl-6 col-12">
                    <div class="card d-flex flex-row mb-4 media-thumb-container">
                        <a class="d-flex align-self-center media-thumbnail-icon"
                           href="/Home/SharedComponents/Times">
                            <i class="iconsminds-folder-open"></i>
                        </a>
                        <div class="d-flex flex-grow-1 min-width-zero">
                            <div class="card-body align-self-center d-flex flex-column justify-content-between min-width-zero align-items-lg-center">
                                <a href="/Home/SharedComponents/Times" class="w-100">
                                    <p class="list-item-heading mb-1 truncate">الأوقات</p>
                                </a>
                                <p class="mb-1 text-muted text-small w-100 truncate">14.11.2018</p>
                            </div>
                            <div class="pl-1 align-self-center">
                                <label class="custom-control custom-checkbox mb-0">
                                    <input type="checkbox" id="Times" class="custom-control-input">
                                    <span class="custom-control-label"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-12 col-xl-4">
            <div class="card preview-area d-flex flex-column flex-sm-row flex-xl-column">
                <div class="position-relative">


                    <div class="row">
                        <div class="card-body">

                            <div class="col-lg-12">
                                <div class="panel panel-default">
                                    <form id="frm_shared_comp">
                                        <label for="email">اسم المكون</label>
                                        <div class="input-group">
                                            <input class="form-control" id="comp_name" name="comp_name">

                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-outline-secondary" data-link="Create" id="btn_submit" name="btn_submit">حفظ</button>
                                            </div>
                                        </div>



                                    </form>
                                    <div class="panel-body">
                                        <div id="">
                                            <div id="toolbar">

                                            </div>
                                            <table id="ComponentTable"
                                                   class="table table-bordered table-hover " data-toggle="table" data-filter-control="true"
                                                   data-toolbar="#toolbar" data-show-pagination-switch="true" data-pagination="true" data-id-field="id" data-page-size="50" data-side-pagination="client">
                                                <thead>
                                                    <tr>
                                                        <th data-width="10%" data-checkbox="true">State </th>
                                                        <th data-width="10%" data-field="id" data-filter-control="input" data-sortable="true">#</th>
                                                        <th data-field="arbicTitle" data-width="60%" data-filter-control="input" data-sortable="true">الاسم </th>
                                                        <th data-field="createdAt" data-width="20%" data-filter-control="input" data-sortable="true">تاريخ الإضافة</th>
                                                        <th data-formatter="EditFormatter">تعديل</th>
                                                        <th data-formatter="DeleteFormatter">حذف</th>
                                                    </tr>
                                                </thead>

                                            </table>

                                        </div>
                                        <!-- /.row (nested) -->
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                                <!-- /.panel -->
                            </div>
                            <!-- /.col-lg-12 -->
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>



</div>



<script>
    var controllerName = 'GeneralComponents';
    var typeId = '@ViewBag.TypeId';
    var userId = 153;

     var action = "";





    $(function () {


        $('#' + controllerName).attr('checked', true);
          $.get('/' + controllerName + '/List', function (r) {
              $('#ComponentTable').bootstrapTable('load', r);


               });

         $('#frm_shared_comp').on('submit', function (e) {
             e.preventDefault();

            var cmp =
            {
                arbicTitle: $('#comp_name').val(),
                componentTypeId: typeId,
                createdBy:153

             }

            $.post('/' + controllerName + '/'+(action?action:"Create"), cmp, function (r) {
                if (parseInt(r) > 0) {
                     $.get('/' + controllerName + '/List', function (r) {
                         $('#ComponentTable').bootstrapTable('load', r);

                     })
                     action = ""; $('#comp_name').val('');
                }
                console.log(r);
            });



         });




    });

    function EditRow(RowData) {
        var RowData = JSON.parse(decodeURIComponent(RowData));
         action = "Edit/" + RowData.id;
        $('#comp_name').val(RowData.name);

    }

     function DeleteRow(RowData) {
       var result = confirm("هل انت متأكد من حذف هذا الصف؟");
         if (result == true) {
            var RowData = JSON.parse(decodeURIComponent(RowData));
            $.post('/' + controllerName +'/Delete/'+RowData.id, function (d) {
                 if (parseInt(d) > 0) {
                     $.get('/' + controllerName + '/List', function (r) {
                         $('#ComponentTable').bootstrapTable('load', r);

                     });
                     action = ""; $('#comp_name').val('');
                }
            });
       }
    }


     function EditFormatter(value, row, index) {
        return [
            '<a class="like btnEditDataElement"  title="Like" href="javascript:void(0)" onclick="EditRow(\'' + encodeURIComponent(JSON.stringify(row)) + '\');">',
            '<i class="iconsminds-folder-edit"></i>',
            '</a>'
             ].join('');
          }

    function DeleteFormatter(value, row, index) {
        return [
            '<a class="like btnEditDataElement"  title="Like" href="javascript:void(0)" onclick="DeleteRow(\'' + encodeURIComponent(JSON.stringify(row)) + '\');">',
            '<i class="simple-icon-trash  "></i>',
            '</a>'
             ].join('');
          }


</script>

